[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "Bibata_Cursor"]
	path = Bibata_Cursor
	url = https://github.com/KaizIqbal/Bibata_Cursor.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
