git+https://github.com/jeffkaufman/icdiff.git@release-2.0.4
# https://github.com/drbild/json2yaml
json2yaml==1.1.1
# linters
black==20.8b1
# https://github.com/docker/compose
docker-compose==1.27.4
# https://github.com/dmerejkowsky/tsrc
tsrc==2.2.0
# https://github.com/jarun/ddgr#from-a-package-manager
ddgr==1.9
# https://github.com/kislyuk/yq
yq==2.12.2
# https://pypi.org/project/pydf/
pydf==12
# https://stackoverflow.com/questions/5014632/how-can-i-parse-a-yaml-file-from-a-linux-shell-script
shyaml==0.6.2
