IdentityFile ~/.ssh/id_rsa_private
#IdentityFile ~/.ssh/id_rsa_egnyte
IdentityFile ~/.ssh/id_rsa_new_gitlab

Host prod-webh-01
    Hostname 185.238.75.166
    User root
    Port 334

Host prod-webh-02
    Hostname 185.238.74.189
    user root
    Port 334

Host prod-webh-03
    Hostname 192.109.240.80
    user root
    Port 334

Host stage-webh-01
    Hostname 185.238.75.93
    user root
    Port 334

Host stage-ovh-01
    Hostname 51.195.40.254
    User ubuntu
    Port 334

Host shared
   HostName 195.78.67.31
   User eagmar
   Port 222

Host shared2
    User eagmar2
    Port 222
    HostName 195.78.67.31

Host sharedwp
   User eagmarwp
   Port 222
   HostName 185.208.164.52

Host da
    User mlodzikos
    ForwardAgent yes
    HostName 64.225.94.217

Host mysql
    User mlodzikos
    ProxyJump da
    HostName 10.114.0.2

Host sftp-fsc
    Hostname sftp-new.fscdebt.pl
    Port 3500
    User mlodzikos

Match all
Include config.d/*


