IdentityFile ~/.ssh/id_rsa_private
IdentityFile ~/.ssh/id_rsa_egnyte
#IdentityFile ~/.ssh/id_rsa_new_gitlab

# Host gitlab.com
#    IdentityFile ~/.ssh/id_rsa_egnyte

Host stage
   HostName 185.243.55.39
   User mlodzikos

Host prod
   HostName 91.228.196.177
   User mlodzikos

Host shared
   HostName 195.78.67.31
   User eagmar
   Port 222

Host drukujesz
   Port 40022
   User drukujesz24
   HostName drukujesz24.lh.pl

Host handles
   HostName ssh.iq.pl
   User handles_sklep

Host shared2
    User eagmar2
    Port 222
    HostName 195.78.67.31

Host da-root
    User root
    ForwardAgent yes
    HostName 64.225.94.217

Host da
    User mlodzikos
    ForwardAgent yes
    HostName 64.225.94.217

Host mysql
    User mlodzikos
    ProxyJump da
    HostName 10.114.0.2

Host sftp-fsc
    Hostname sftp-new.fscdebt.pl
    Port 3500
    User mlodzikos

Host fcbarca
    Port 9022
    User eagmarssh
    HostName 37.187.152.143

Host bb
    User git
    HostName bitbucket.org
    IdentityFile ~/.ssh/id_rsa_bb
    IdentitiesOnly yes

Match all
Include config.d/*


